[submodule "keyboard-pcb-guide/kicad-libraries/kicad_lib_tmk"]
	path = keyboard-pcb-guide/kicad-libraries/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk.git
[submodule "keyboard-pcb-guide/kicad-libraries/keyboard_parts.pretty"]
	path = keyboard-pcb-guide/kicad-libraries/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty.git
[submodule "keyboard-pcb-guide/kicad-libraries/keebs.pretty"]
	path = keyboard-pcb-guide/kicad-libraries/keebs.pretty
	url = https://github.com/egladman/keebs.pretty.git
